.card {
    margin: 10px !important;
}
.MuiTableCell-alignRight-168 {
    text-align: left !important;
}
thead{
    background-color: #1f419c !important;
    tr>th{
        color: white !important
    }
}